{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<div class="appbar">
  <img src="{% static 'notes/img/logo-getit.png' %}" class="logo" alt="Get-it" />
  <span class="subtitle">Como o Post-it, mas com outro verbo</span>
  <div class="appbar-spacer"></div>
  <a class="appbar-link" href="{% url 'tag_list' %}">Todas as tags</a>
</div>


<form method="post" action="{% url 'update' note.id %}" class="form-card">
  {% csrf_token %}
  <input type="hidden" name="id" value="{{ note.id }}" />

  <input
    class="form-card-title"
    type="text"
    name="title"
    placeholder="Título"
    value="{{ note.title }}"
    required
  />

  <textarea
    class="autoresize"
    name="content"
    placeholder="Digite o conteúdo..."
    required
  >{{ note.content }}</textarea>

  <!-- NOVO: campo para editar a tag -->
  <input
    class="form-card-title"
    type="text"
    name="tag"
    placeholder="Adicione uma tag (opcional)"
    value="{% if note.tag %}{{ note.tag.name }}{% endif %}"
  />

  <div class="form-actions">
    <a class="btn btn-secondary" href="{% url 'index' %}">Cancelar</a>
    <button class="btn btn-primary" type="submit">Atualizar</button>
  </div>
</form>
{% endblock content %}
